.shared-btn {
  background-color: skyblue;
  border: 1px solid white;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

.cardContainer {
  border: 1px dotted white;
  font-size: 0.9rem;
  font-family: monospace;
  text-align: left;
  padding: 0.5rem;
}
.cardContainer p {
  margin: 0px;
}
.cardContainer img {
  max-height: 20rem;
}
